* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bricolage;
  scroll-behavior: smooth;
}

input {
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}