@use "../abstracts" as *;

.home-page {
    .homeCategory-section {
        &__content {
            .category__wrapper {

                .category__wrapper-items:nth-child(7),
                .category__wrapper-items:nth-child(8),
                .category__wrapper-items:nth-child(9),
                .category__wrapper-items:nth-child(10) {
                    display: none;
                }
            }

            .category__wrapper-lasts {
                display: none;
            }
        }
    }
}

.empty {
    h3 {
        font-size: 28px !important;
    }
}

@media (max-width: 824px) {
    .empty {
        margin-top: 66px;

        img {
            width: 100%;
            margin-right: 0 !important;
        }

        h3 {
            margin-top: -8px !important;
        }

        button {
            margin-top: 10px !important;
        }
    }
}

@media (max-width: 480px) {
    .empty {
        h3 {
            font-size: 26px !important;
        }

    }
}